@use "../../../styles/mixins" as mixins;

.characterWrapper {
  display: flex;
  flex-direction: column;

  .categoryWrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 10px 0;

    .categoryTitle {
      font-size: 18px;
      @include mixins.defaultMainText;
    }
  }
}

.importExportWrapper {
  display: flex;
  flex-direction: column;
}

.charOptionsBtn {
  @include mixins.defaultBorder;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  height: 40px;
  cursor: pointer;
  background-color: var(--color-dark-500);
  color: var(--color-accent-300);
  margin: 10px 0;
  padding: 6px 20px;
}
