@use "../../../styles/mixins" as mixins;


.characterWrapper {
  display: flex;
  flex-direction: column;

  .nameWrapper{
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    .categoryTitle{
      font-size: 18px;
      color: hotpink;
    }

  }

}

.importExportWrapper {
  display: flex;
  flex-direction: column;
}

.charOptionsBtn{
  @include mixins.defaultBorder;
  all: unset;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  height: 40px;
  cursor: pointer;
  background-color: var(--color-dark-700);
  color: var(--color-accent-500);
  margin: 10px 0;
  padding: 6px 28px;

}