.skillsandPropertiesWrapper {
  display: flex;
  align-items: center;
  gap: 40px;
  width: 50%;
  height: 80%;

  .propertiesWrapper {
    display: flex;
    flex-direction: column;
    width: 50%;

    .mainPropertiesWrapper {
      position: relative;

      .pointsInfoWrapper {
        position: absolute;
        top: -90%;
        width: 100%;

      }
    }
  }

  .skillsWrapper {
    width: 65%;

  }
}