.propertyWrapper {
  display: flex;
  flex-direction: column;
  height: 70px;
  opacity: 0.8;

  .titleAndInfoWrapper {
    display: flex;
    justify-content: center;
    align-items: center;

    .propertyTitle {
      font-size: 15px;
      font-weight: 600;
      color: blueviolet;
      cursor: pointer;
    }

    .infoWrapper {
      display: flex;
      align-items: center;
      gap: 8px;

      .propertyValue {
        color: lawngreen;
        font-size: 17px;
      }

      .changeProperty {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 30px;
        height: 30px;;
        color: fuchsia;
        background-color: dimgrey;

        .incDec {
          background-color: cadetblue;

          &:hover {
            color: green;
            background-color: yellow;
          }
        }
      }

      .getDamageBtn {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80px;
        color: fuchsia;
        background-color: dimgrey;
      }

    }
  }

}