@use "src/styles/mixins" as mixins;

.propertyWrapper {
  display: flex;
  flex-direction: column;
  background-color: var(--color-dark-500);
  margin-bottom: 2vh;
  border-radius: 4px;
  padding: 2px 12px;

  .titleAndInfoWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .propertyTitle {
      @include mixins.defaultMainText;
      cursor: pointer;
      line-height: var(--line-height-l);
    }

    .infoWrapper {
      display: flex;
      align-items: center;
      gap: 8px;

      .propertyValue {
        @include mixins.defaultMainText;
      }

      .changeProperty {
        all: unset;
        @include mixins.defaultButton;
        @include mixins.defaultSecondText;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        background-color: transparent;

        &:hover {
          color: var(--color-danger-500);
        }

        &:active {
          color: var(--color-danger-100);
        }

      }

      .getDamageBtn {
        all: unset;
        @include mixins.defaultBorder;
        @include mixins.defaultButton;
        @include mixins.defaultSecondText;
        display: flex;
        padding: 4px 8px;
        background-color: var(--color-dark-500);
        border-radius: 4px;
        cursor: pointer;
        margin-right: 10px;
        width: 80px;
        font-size: var(--font-size-xs);
        line-height: var(--line-height-s);
      }

    }
  }

}