.propertyWrapper {
  display: flex;
  flex-direction: column;
  background-color: var(--color-dark-500);
  margin-bottom: 1vh;
  border-radius: 4px;
  padding: 2px 12px;

  .titleAndInfoWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .propertyTitle {
      font-size: var(--font-size-l);
      font-weight: 600;
      color: var(--color-light-900);
      cursor: pointer;
    }

    .infoWrapper {
      display: flex;
      align-items: center;
      gap: 8px;

      .propertyValue {
        color: var(--color-light-900);
        font-size: var(--font-size-l);
        font-weight: var(--font-weight-bold);
      }

      .changeProperty {
        all: unset;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        color: var(--color-danger-300);
        background-color: transparent;

          &:hover {
            color: var(--color-danger-500);
            cursor: pointer;
          }
        &:active {
            color: var(--color-danger-100);
            cursor: pointer;
          }

      }

      .getDamageBtn {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80px;
        color: fuchsia;
        background-color: dimgrey;
      }

    }
  }

}