@use "src/styles/mixins" as mixins;


.toggleGroup {
  @include mixins.toggleGroup;

  .toggleGroupItem {
    background-color: transparent;
    color: var(--color-light-900);
    height: 36px;
    width: 116px;
    @include mixins.toggleItem;

  }
}

.toggleDisabled {
  @include mixins.toggleGroup;


  button {
    @include mixins.toggleButton;
  }

  .toggleDisabledItem {
    background-color: var(--color-dark-700);
    color: var(--color-dark-300);
    @include mixins.toggleItem;
  }
}
